<div class="w-full">
  <mat-grid-list cols="8" rowHeight="70px">
    <mat-grid-tile colspan="8" rowspan="1"> </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1"> </mat-grid-tile>
    <mat-grid-tile colspan="6" rowspan="10" class="bg-gray-800 relative ">
      <div class="w-full bg-gray-900 absolute top-0 h-16">
        <div class="flex flex-wrap">
          <div class="w-full">
            <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row">
              <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
                <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal"
                  (click)="toggleTabs(1)"
                  [ngClass]="{'text-white bg-gray-900': openTab !== 1, 'text-black bg-white': openTab === 1}">
                  <i class="fas fa-space-shuttle text-base mr-1"></i> General
                </a>
              </li>
              <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
                <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal"
                  (click)="toggleTabs(2)"
                  [ngClass]="{'text-white bg-gray-900': openTab !== 2, 'text-black bg-white': openTab === 2}">
                  <i class="fas fa-cog text-base mr-1"></i> Settings
                </a>
              </li>
              <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
                <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal"
                  (click)="toggleTabs(3)"
                  [ngClass]="{'text-white bg-gray-900': openTab !== 3, 'text-black bg-white': openTab === 3}">
                  <i class="fas fa-briefcase text-base mr-1"></i> Options
                </a>
              </li>
              <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
                <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal"
                  (click)="toggleTabs(4)"
                  [ngClass]="{'text-white bg-gray-900': openTab !== 4, 'text-black bg-white': openTab === 4}">
                  <i class="fas fa-briefcase text-base mr-1"></i> Options
                </a>
              </li>
            </ul>
            <div
              class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded bg-gradient-to-r from-gray-900 to-gray-700">
              <div class="px-4 py-5 flex-auto">
                <div class="tab-content tab-space">
                  <div [ngClass]="{'hidden': openTab !== 1, 'block': openTab === 1}" class="p-0">
                    <div class="w-1/5 bg-gray-900 h-auto rounded p-3 float-left">
                      <p (click)="function = 'Income'"
                        class="text-white text-center hover:bg-gradient-to-r from-gray-900 hover:to-cyan-400 rounded bg-gray-900 border border-cyan-600 mb-2 text-xs p-2 cursor-pointer">
                        Income
                      </p>
                      <p (click)="function = 'Rent'"
                        class="text-white text-center rounded bg-gray-900 border border-cyan-600 mb-2 text-xs p-2 cursor-pointer">
                        Rent
                      </p>
                      <p
                        class="text-white text-center rounded bg-gray-900 border border-cyan-600 mb-2 text-xs p-2 cursor-pointer">
                        Income
                      </p>
                      <p
                        class="text-white text-center rounded bg-gray-900 border border-cyan-600 mb-2 text-xs p-2 cursor-pointer">
                        Income
                      </p>
                      <p
                        class="text-white text-center rounded bg-gray-900 border border-cyan-600 mb-2 text-xs p-2 cursor-pointer">
                        Income
                      </p>
                    </div>
                    <div class="w-full text-center text-white text-sm pt-20" *ngIf="!function">
                      Select an option
                    </div>
                    <div class="bg-transparent w-4/5 h-auto float-right" *ngIf="function">
                      <div class="text-center p-4">
                        <h5 class="text-white">{{function}}</h5>
                        <input type="text" mask="R$" [(ngModel)]="value"
                          class="rounded w-96 bg-transparent text-white"><br>
                        <button (click)="add(function, value )"
                          class="relative mt-2 inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800">
                          <span
                            class=" relative px-5 py-2.5 text-white transition-all ease-in duration-75 bg-gray-900 dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                            Cyan to blue
                          </span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div [ngClass]="{'hidden': openTab !== 2, 'block': openTab === 2}">
                    <p>
                      Completely synergize resource taxing relationships via
                      premier niche markets. Professionally cultivate one-to-one
                      customer service with robust ideas.
                      <br />
                      <br />
                      Dynamically innovate resource-leveling customer service for
                      state of the art customer service.
                    </p>
                  </div>
                  <div [ngClass]="{'hidden': openTab !== 3, 'block': openTab === 3}">
                    <p>
                      Efficiently unleash cross-media information without
                      cross-media value. Quickly maximize timely deliverables for
                      real-time schemas.
                      <br />
                      <br />
                      Dramatically maintain clicks-and-mortar solutions
                      without functional solutions.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="w-96 h-full ml-6 float-left bg-gray-900 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 mr-10">
              <div class="flex justify-end px-4 pt-4">
              </div>
              <div class="flex flex-col items-center pb-10 bg-gray-900">
                <div class="text-white" *ngIf="!isLoggedIn">
                  <div *ngFor="let i of functions">
                    <p class="text-xs">{{i.name}}: <b
                        [ngClass]="i.name == 'Income' ? 'text-cyan-300' : 'text-orange-400'">{{i.value | currency:
                        'BRL'}}
                        <button (click)="openDialog('500ms', '500ms')" style="margin-top: -21px; position: absolute;"
                          mat-fab class="text-red-800 pt-4" aria-label="Example icon button with a bookmark icon">
                          <mat-icon> do_not_disturb_on</mat-icon>
                        </button>
                      </b>
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="w-3/5 bg-black h-full float-left text-white text-center pt-4">
              <div *ngIf="functions.length > 1">
                <div class="p-1" *ngFor="let i of functions">
                  <p class="text-xs"> <b [ngClass]="i.name == 'Income' ? 'text-cyan-300' : 'text-orange-400'">{{i.value
                      |
                      currency:
                      'BRL'}}</b></p>
                </div>
                ____________________ <br>

                {{resultValue | currency: 'BRL'}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>